Django==5.2.5
django-cors-headers==4.7.0
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.1
firebase_admin==7.0.0
pillow==11.3.0
razorpay==1.4.2
requests==2.32.4
whitenoise
dj-database-url
psycopg2-binary
python-dotenv
django-cloudinary-storage==0.3.0
cloudinary==1.36.0
